@media (max-width: 1100px) {
    #navbar li{
      padding: 0 1rem;
    }
  }
  @media (max-width: 700px){
  #mobile i {
      font-size: 1rem;
  }
  .cart-badge .badge {
    font-size: .6rem;
}
  }
  @media (max-width: 1000px){
  img.logo {
      width: 3rem;
  }
  #color h3 {
      font-size: 1.25rem;
      margin: 10px 0;
  }
  }
  @media (max-width: 1000px) {
    #color h3 {
        font-size: 1.25rem;
        margin: 10px 0;
    }
    #color li {
      font-size: .55rem;
      line-height: .9rem;
    }
    #color p {
      font-size: 0;
    }
  }
  @media (max-width: 500px) {
    #connect {
      /* margin: 0; */
      width: 200px;
  }
  }

