*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    /* font-family: 'Poiret One', cursive; */
    width: 100%;
  }

  #top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: none;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  ::selection {
    background-color: papayawhip;
    color: black;
  }
  .section-p1{
    padding: 40px 80px;
  }

  main {
    flex: 1;
  }
  
  footer {
    flex-shrink: 0;
    padding: 10px;
    /* text-align: center; */
  }

  .btn-group form {
    /* width: 20vw; */
    border-radius: 7px;
  }
  #mainimage {
    height: 400px;
  }
  .smallimgcol img {
    height: 190px;
  }
  #eachProdDetails img {
    /* width: 2rem; */
    width: 12rem;
    border-radius: 27px;
  }
  #eachProdDetailsW img {
    /* width: 2rem; */
    width: 13.5rem;
    border-radius: 42px;
  }
  #prodDetails p:nth-child(1) {
    font-size: 2rem;
  }
  #prodDetails p:nth-child(3) {
    font-size: 2vw;
    margin-top: 1rem;
  }
  #prodDetails p:nth-child(3) {
    font-size: 1rem;
    /* margin: 2vw 0; */
  }
#addressSubmit input {
  width: 20rem;
}
#addressSubmit textarea {
  width: 20rem;
}
#addressSubmit button {
  width: 20rem;
}
#addressEdit button {
  width: 20rem;
}
#totalamount button {
  /* font-size: 2vw; */
  width: 20rem;
}
.loginContainer {
  font-size: 2rem;
  max-width: 500px;
  margin: 18rem auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgb(0,0,0,.15);
}
#loginTitleText {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  font-size: 5rem;
}
#userRegistration {
  display: flex;
  flex-wrap: wrap;
  margin: 14rem 0 5rem;
  font-size: 4rem;
  justify-content: center;
}
.registerContainer {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  /* max-width: 50rem; */
  padding: 20px;
  border-radius: 15px;
  margin: 0 auto auto auto;
  box-shadow: 0px 0px 80px rgb(0,0,0,.15);
}
.registerContainer button {
  width: 40rem;
  font-size: 1rem;
}
#product1 .pro button {
  /* font-size: 1rem; */
  width: 2rem; 
  padding: .2rem .4rem;
  border-radius: 10rem;
}
#userNameDisp {
  display: flex;
  font-size: 3rem;
  justify-content: center;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty p {
  font-size: 2vw;
}
.empty img {
  width: 20rem;
}
#navbarmob {
  z-index: 9;
}
.carousel {
  position: relative;
  padding: 6rem 0 0;
}
#AppliedFilters {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-bottom: 1rem;
}
.AppliedFilterProperties{
  padding: .1rem 1rem;
  margin: 0 0.5rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
}




  /* MEDIA QUERY */

  @media (max-width:700px){
    #home {
      height: 250px;
    }
    .pro-container {
      padding: 20px 0px;
    }
    .contain {
      padding: 0 10vw;
      display: grid;
      grid-template-columns: 350px;
      column-gap: 40px;
      row-gap: 20px;
      align-items: center;
      justify-items: center;
      justify-content: center;
      align-content: center;
      margin: 7vw 3vw;
    }
    .img-det {
      order: 3;
    }
    .img-det h1 {
      font-size: 2rem;
      margin-top: 0;
    }
    .img-det h2 {
      font-size: 1.5rem;
      margin-top: 0;
    }
    .img-det {
      /* margin: 0 1.5vw; */
      width: 100%;
      align-self: end;
    }
    #mainimage {
      height: 70vw;
    }
    .smallimggrp {
      order: 2;
    }
    .smallimgcol {
      justify-items: center;
      padding: 0 0.5rem 0.5rem;
    }
    .smallimgcol img {
      height: 32vw;
    }
    .prodDetails {
      order: 4;
    }
    .drop {
      margin: 0rem 0;
    }
    .btn-group {
      /* display: grid; */
      grid-template-columns: 150px 150px;
    }
    .btn {
      width: 163px;
    }
    #cartdetails {
      margin: 7rem 0 0;
      font-size: 2.5rem;
    }
  }

  @media (max-width:1000px){
    
    #CartProducts {
      padding: 0 2rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
      margin: 0 10vw;
    }
    #cartdetails {
      margin: 12vw 0 0;
      font-size: 5vw;
    }
    #address h1 {
      font-size: 5vw;
    }
    .loginContainer {
      font-size: 3vw;
      max-width: 65vw;
    }
    #loginTitleText {
      font-size: 5vw;
      padding-bottom: 4vw;
    }
    #userRegistration {
      font-size: 4vw;
      /* padding-bottom: 4vw; */
    }
    #userNameDisp {
      /* display: flex; */
      font-size: 4.5vw;
      /* justify-content: center; */
    }
    #Sorry img {
      width: 16rem;
    }
    .empty img {
      width: 16rem;
    }
    .filterTab {
      display: none;
      /* left: -100px; */
    }
    .filterTabBox{
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 48px;
      left: -180px;
      height: 100%;
      width: 180px;
      padding: 1rem;
      background-color: #ffffff;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      /* padding: 1rem 0 0 0.4rem; */
      line-height: 1.3rem;
      transition: 0.4s;
      z-index: 99;
      overflow-y: scroll;
    }
    #filtershow.active {
      left: 0px;
    }
}

  @media (min-width: 1000px){
    .filterBox{
      display: none;
    }
    .filterTabBox{
      display: none;
    }
  }

  @media (max-width: 650px) {
    #eachProdDetails img {
      width: 33vw;
    }
    #eachProdDetailsW img {
      width: 33vw;
      padding: 3vw;
      border-radius: 7vw;
    }
    #eachProdDetailsW {
      border-radius: 5vw;
    }
    #prodDetails p:nth-child(1) {
      font-size: 5vw;
      margin-bottom: 2px;
    }
    #prodDetailsW p:nth-child(1) {
      font-size: 5vw;
      margin-bottom: 2px;
    }
    #prodDetails p:nth-child(3) {
      font-size: 2.6vw;
      margin: 2vw 0;
    }
    #prodDetails p:nth-child(4) {
      font-size: 2.6vw;
      margin: 2vw 0 0;
    }
    #prodDetails button {
      font-size: 2.6vw;
      /* margin: 2vw 0; */
    }
    #eachProdDetails {
      grid-template-columns: 33vw 35vw;
    }
    #eachProdDetailsW {
      width: 32vw;
    }
  #quantity {
    font-size: 2.6vw;
  }
  #addressSubmit input {
    width: 50vw;
  }
  #addressSubmit textarea {
    width: 50vw;
  }
  #addressSubmit button {
    width: 50vw;
    font-size: 2.5vw;
  }
  #addressSubmit {
    font-size: 2.5vw;
  }
  #addressEdit button {
    font-size: 2.5vw;
    width: 50vw;
  }
  #addressEdit p {
    font-size: 2.5vw;
  }
  #totalamount h2 {
    font-size: 4vw;
  }
  #totalamount h1 {
    font-size: 5vw;
  }
  #totalamount button {
    font-size: 2.5vw;
    width: 50vw;
  }
  #totalamount {
    padding: 5vw 0;
  }
  .registerContainer input {
    font-size: 2.5vw;
    width: 50vw;
  }
  .registerContainer button {
    font-size: 2.5vw;
    width: 50vw;
  }
  #userRegistration {
    font-size: 3rem;
    /* padding-bottom: 4vw; */
  }
  #product1 .pro {
    width: 40vw;
  }
  #product1 .pro .des p {
    /* text-align: left; */
    font-size: 1rem;
    line-height: 7vw;
    margin-bottom: 0;
  }
  #product1 .pro .des h4 {
    /* text-align: left; */
    font-size: 1rem;
    /* line-height: 40px; */
    margin-bottom: 0;
  }
  #product1 .pro button {
    font-size: 2vw;
    width: 20vw; 
    padding: .1rem;
  }
  #product1 h2 {
    font-size: 2rem;
}
.section-p1 {
  padding: 30px 10px;
}
#Sorry p {
  font-size: 1rem;
}
.empty p {
  font-size: 1rem;
}
}

@media (max-width:375px){
  #product1 .pro .des p {
    /* text-align: left; */
    font-size: .8rem;
    /* line-height: 40px; */
    margin-bottom: 0;
  }
  .section-p1 {
    padding: 30px 20px;
  }
}