*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Poiret One', cursive;
    width: 100%;
  }
  ::selection {
    background-color: papayawhip;
    color: black;
  }
  .section-p1{
    padding: 40px 80px;
  }
  #top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: none;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  img.logo {
    width: 5vw;
  }
  #navbar {
    display: flex;
    font-size: 1.1vw;
    align-items: center;
    justify-content: right;
  }
  #navbar li{
    list-style: none;
    padding: 0 1rem;
  }
  #navbar li a{
    text-decoration: none;
    padding: 0 .2rem;
    color: black;
  }
  #navbar li a:hover{
    color: #8f633d
  }
  #mobile{
    display: none;
  }
  #navbar li input{
    border:none;
    outline: none;
  }
  .form button{
    border: none;
    background-color:white;
    cursor: pointer;
  }
  .container {
    /* max-width: 1140px; */
    margin: 0 auto;
  }
  .Categories{
    display: block;
    position: fixed; 
  }
  .pro-container{
    padding: 50px 20px;
  }
  #prodetails{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
  }
  h6{
    margin: 5rem 0 15px;
    font-size: 1rem;
  }
  #prodetails .single-image{
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    margin: 50px 50px 0 0 ;
    justify-content: space-between;
  }
  .smallimggrp{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
  }
  .smallimgcol{
    flex-basis: 47%;
    cursor: pointer;
  }
  .img-det{
    width: 50%;
  }
  @media (min-width:700px){
    #navbarmob{
      display: none;
    }
  }
  @media (max-width:700px){
    #navbar{
      display: none;
    }
    #navbarmob {
      display: flex;
      flex-direction: column;
      font-size: .6rem;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -150px;
      height: 100%;
      width: 150px;
      background-color: #ffffff ;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      padding: 1rem 0 0 .4rem;
      line-height: 1.5rem;
      transition: 0.4s;
    }
    #navbarmob li{
      list-style: none;
      padding: 0 1rem;
    }
    #navbarmob li a{
      text-decoration: none;
      padding: 0 .2rem;
      color: black;
    }
    #navbarmob li input{
      border:none;
      outline: none;
    }
    #navbarmob.active{
      right: 0px;
    }
    #mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    }
    #mobile i{
      color: black;
      padding: 0 4vw 0 0;
      font-size: .7rem; 
      display: flex;
    }
    #mobile a{
      text-decoration: none;
    }
    img.logo {
      width: 2.5rem;
    }
    #home {
      height: 250px;
    }
    .pro-container {
      padding: 20px 0px;
    }
  }
  