.containe {
  width: 100%;
  margin: 0px;
  right: 0px;
  left: 0px;
  top: 44.9rem;
  padding: 0%;
}

.carousel-indicators {
    position: absolute;
    margin-left: 0px;
    margin-bottom: 0px;
    left: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  /* top: 10vw;   */
}
.carousel-indicators li {
    display: inline-block;
    width: 2vw;
    /* height: .3vw; */
    margin: 0 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffffff; 
    background-color: rgba(255, 255, 255, 0); 
    z-index: 99999;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 2rem;
  }

.carousel-indicators .active {
    width: 2vw;
    /* height: .3vw; */
    margin: 0 5px;
    background-color: #9c9c9c;
  }

#home {
  margin-top: 2vw;
  background-image: url("/home.jpg");
  font-size: .9rem;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: top 20% right 0;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: black;
}

#home p{
  font-size: 1.5rem;
}
#home button{
  margin: 10px 0px;
  font-size: 1vw;
  background-size: 100%;
  border: 1px solid grey;
  /* border-color: white; */
  padding: .2vw 1vw;
  cursor: pointer;
  transition: .3s ease-out;
}
#home button:hover{
  transform: scale(1.1);
  background-color: #8d8d8d;
  color: whitesmoke;

}
#explore {
  background-color: #eeb6a0;
  margin-top: 50px;
  font-size: 1.7vw;
  width: 20vw;
  padding: 0px 15px 0 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: rgb(255, 255, 255);
}

#explore p {
  margin-bottom: 0;
}
#women {
  background-image: url("/women1.png");
  margin: 20px 50px;
  font-size: 1.2vw;
  width: 100%;
  height: 200px;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: black;
}
.fe-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2vw 4vw ;
}
.box1{
  font-size: 1.5rem;
  margin: 20px;
  width: 100%;
  height: 200px;
  background-image: url("/women2.png");
  background-position: top 20% right 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-evenly;
  padding-left: 2rem;
  transition: transform .3s;
}
.box1:hover{
  transform: scale(1.07);
}
.box1 a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.box2{
  margin: 20px;
  width: 100%;
  height: 200px;
  background-image: url('/cos1.jpg');
  background-size: cover;
  background-position: top 50% right 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform .3s;
}
.box2 button{
  font-size: 1.5vw;
  padding: .7rem 2.5rem;
  cursor: pointer;
  border: 2px solid white;
  background-color: #eea0a0;
  color: rgb(255, 255, 255);
}
.box2 button:hover{
  background-color: #ffffff;
  color: #eea0a0;
}
.box2:hover{
  transform: scale(1.07);
}
.bs-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 70px ;
}
.Churidars{
  margin: 20px;
  font-size: 2.5rem;
  width: 300px;
  height: 200px;
  background-color: #d3bea7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition:1s ease-out;
  flex-grow: 1;
}
.Churidars:hover{
  /* max-zoom: 550rem; */
  opacity: 70%;
  background-image: url('/churidar.jpg');
  background-position: bottom;
  background-size: cover;
}
.Top{
  margin: 20px;
  font-size: 2.5rem;
  border-top: 50px;
  width: 300px;
  height: 200px;
  background-color: #fff0bd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 1s ease-out;
  flex-grow: 1;
 
}
.Top:hover{
  opacity: 70%;
  background-image: url('/top.jpg');
  background-position: bottom;
  background-size: cover;
}
.Jean{
  margin: 20px;
  font-size: 2.5rem;
  border-top: 50px;
  width: 300px;
  height: 200px;
  background-color: #ffc3c3;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  transition: 1s ease-out;
  flex-grow: 1;
}
.Jean:hover{
  opacity: 70%;
  background-image: url('/jeans.jpg');
  background-position: bottom;
  background-size: cover;
}
#pb {
  font-size: 4rem;
  text-align: center;
  margin: 10px 50px;
}

p.btag {
  font-size: 1.5rem;
  text-align: center;
  margin: 0px;
}
#bs{
  display: flex;
  justify-content: space-around;
  transition: 1s ease-in;
}
#bs #h2{
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
  border: .1vw solid rgb(158, 158, 158);
}

#bs:hover{
  letter-spacing: 1.5vw;
  transition: 1s ease-out;
}

#map {
  display: flex;
  align-items: center;
}

#map p{
  font-size: 1vw;
}

#map iframe{
  width: 7vw;
  height: 4vw;
}

.container {
  margin: 0 auto;
}
.Categories{
  display: block;
  position: fixed; 
}


/* CART STYLES */


#CartProducts {
  padding: 0 2rem 2rem;
  /* background-image: url("/search.jpg"); */
  display: flex;
  align-items: start;
  justify-items: center;
  justify-content: center;
  margin: 0 10vw;
}

#eachProdDetails{
  margin: 1rem;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 12rem 13rem;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  color: #6d6d6d;
}



#allProdDetails {
  padding: 0 5vw;
}

#CartProducts img{
  padding: 1rem;
  flex: 1;
}

#cartdetails {
  margin: 6vw 0 0 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #3b3b3b;
  font-size: 3vw;
  padding: 1vw;
}

#address{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 5vw;
  
}

#prodDetails{
  padding: 1rem 0;
}


#totalamount{
  padding: 5rem 0;
}


.deleteButton{
  border: 0px ;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


#cartContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1100px) {
  #navbar li{
    padding: 0 2rem;
  }
}

@media (max-width: 850px) {
  #home{
    justify-content: flex-start;
    padding-top: 3rem;
  }
  #home button {
    font-size: 1rem;
  }
  #explore {
    font-size: 1.2rem;
    width: 20rem;
    padding: 1rem;
  }
  .box2 button {
    font-size: 1.5rem;
}
}
@media (max-width: 500px) {
  .Churidars {
  font-size: 2rem;
  }
  .Top {
    font-size: 2rem;
  }
  .Jean {
    font-size: 2rem;
  }
  .bs-box {
    margin: 20px 30px;
}
}

