<h5><strong>Filters</strong></h5>
<hr>
<form id="filterForm" action="/filter" method="get">
  <div class="Filterbar">
    <p><strong>Size</strong></p>
    <div>
      <input type="checkbox" id="xsmall" name="size" value="xs">
      <label for="myCheckbox">xsmall</label>
    </div>
    <div>
      <input type="checkbox" id="small" name="size" value="s">
      <label for="myCheckbox">small</label>
    </div>
    <div>
      <input type="checkbox" id="medium" name="size" value="m">
      <label for="myCheckbox">medium</label>
    </div>
    <div>
      <input type="checkbox" id="large" name="size" value="l">
      <label for="myCheckbox">large</label>
    </div>
  </div>
  <br>
  <div class="Filterbar">
    <p><strong>Color</strong></p>
    <div>
      <input type="checkbox" id="red" name="color" value="red">
      <label for="myCheckbox">Red</label>
    </div>
    <div>
      <input type="checkbox" id="blue" name="color" value="blue">
      <label for="myCheckbox">Blue</label>
    </div>
    <div>
      <input type="checkbox" id="white" name="color" value="white">
      <label for="myCheckbox">White</label>
    </div>
    <div>
      <input type="checkbox" id="green" name="color" value="green">
      <label for="myCheckbox">Green</label>
    </div>
  </div>
  <br>
  <div class="Filterbar">
    <p><strong>Material</strong></p>
    <div>
      <input type="checkbox" id="cotton" name="material" value="Cotton">
      <label for="myCheckbox">Cotton</label>
    </div>
    <div>
      <input type="checkbox" id="polyster" name="material" value="Polyster">
      <label for="myCheckbox">Polyster</label>
    </div>
  </div>
  <br>
  <div class="Filterbar">
    <p><strong>Price</strong></p>
    <div>
      <input type="checkbox" id="500" name="price" value="500">
      <label for="myCheckbox">less than 500</label>
    </div>
    <div>
      <input type="checkbox" id="1000" name="price" value="1000">
      <label for="myCheckbox">less than 1000</label>
    </div>
  </div>
  <br>
  <button type="submit" style="border: 1px solid rgb(182, 182, 182); padding: .3rem 1rem; border-radius: 15px; background-color: white;"> Apply </button>
</form>