  <section id="logo">
    <h3>Peacock Boutique</h3>
  </section>
  <p>Copyright &copy; Peacock-Boutique 2023</p> 
  <ul id="connect">
    <li><b>Connect us</b></li>
    <li><a href="https://www.instagram.com/peacockboutiquekm/"><i class="fa-brands fa-instagram"></i>  Instagram</a></li>
    <li><a href="https://www.facebook.com/people/Peacock-Boutique/100063848078890/?locale=zh_CN"><i class="fa-brands fa-facebook-f"></i>  Facebook</a></li>
  </ul>