  <style>
    #color{
  padding: 0 30px;
  background-color: #000000;
  width: 100%;
  /* height: 80; */
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  color: white;
}
#color h3{
  font-weight: 100;
  font-size: 2vw;
  margin: 10px 0;
}

#color p{
  margin: 0;
  font-size: .5vw;
}
#color li{
  /* width: 8rem; */
  list-style: none;
  font-size: .8vw;
  padding: 0 2vw;
  line-height: 1.2vw;
}
#connect {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    /* width: 150px; */
}
#connect li a{
  color: white;
  text-decoration: none;
}
@media (max-width: 1000px) {
  #color h3 {
      font-size: 2rem;
      margin: 10px 0;
  }
  #color li {
    font-size: .9rem;
    line-height: 1.4rem;
  }
  #color p {
    font-size: 0;
  }
}
@media (max-width: 500px) {
  #connect {
    /* margin: 0; */
    width: 200px;
}
}
  </style>
  <section id="logo">
    <h3>Peacock Boutique</h3>
  </section>
  <p>Copyright &copy; Peacock-Boutique 2023</p> 
  <ul id="connect">
    <li><b>Connect us</b></li>
    <li><a href="https://www.instagram.com/peacockboutiquekm/"><i class="fa-brands fa-instagram"></i>  Instagram</a></li>
    <li><a href="https://www.facebook.com/people/Peacock-Boutique/100063848078890/?locale=zh_CN"><i class="fa-brands fa-facebook-f"></i>  Facebook</a></li>
  </ul>