<section id="top">
    <a href="/"><img class="logo" src="/Logo.png" alt="Logo" /></a>
      <div>
        <ul id="navbar">
          <li class="form">
            <form style="background-color: white;" action="/search" method="get" id="searchForm">
              <input type="text"  name="search" id="searchInput" placeholder="search....">
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </li>
          <li><div class="dropdown">
            <button class="dropbtn">Shop</button>
            <div class="dropdown-content">
              <a href="#">Tops</a>
              <a href="#">Churidars</a>
              <a href="#">Sarees</a>
              <a href="#">Kurtis</a>
              <a href="/jeans">Jeans</a>
            </div>
          </div>
          </li>
          <li><a href="mailto:peacockpvk2018@gmail.com"><i class="fa-regular fa-envelope"></i></a></li>
          <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
          <li><a href="/wishlist"><i class="fa-regular fa-heart"></i></a></li>
          <div class="cart-badge">
            <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <span id="cartItemCount" class="badge"></span>
          </div> 
        </ul>
        <ul id="navbarmob">
          <li><a href="#" id="close"><i class="fa-solid fa-xmark"></i></a></li>
          <li class="form">
            <form style="background-color: white;" action="/search" method="get" id="searchForm">
              <input type="text"  name="search" id="searchInput" placeholder="search....">
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </li>
          <!-- <li><a href="shop.html">Shop</a></li> -->
          <li><a href="mailto:peacockpvk2018@gmail.com">Mail us</a></li>
          <li><a href="/login">User</a></li>
          <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </div>
      <div id="mobile">
          <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
          <li><a href="/wishlist"><i class="fa-regular fa-heart"></i></a></li>
          <div class="cart-badge">
            <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <span id="cartItemCountMob" class="badge"></span>
          </div>
          <i id="bar" class="fa-solid fa-bars"></i>
      </div>
  </section>