<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>PB | User Registration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/common.css" />
  <link rel="stylesheet" href="/navbar.css" />
  <link rel="stylesheet" href="/footer.css" />
  <style>
    body {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    max-width: 50rem;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: auto;
    box-shadow: 0px 0px 80px rgb(0,0,0,.15);
  }
  h1{
    display: flex;
    flex-wrap: wrap;
    margin: 18rem 0 5rem;
    font-size: 4rem;
    justify-content: center;
  }
  form {
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  input {
    border: 1px solid rgb(204, 204, 204);
    width: 40rem;
    padding: 1rem;
    border-radius: 15px;
  }

</style>
</head>
<body class="wrapper">
  <header>
    <section id="top">
      <a href="/"><img class="logo" src="/Logo.png" alt="Logo" /></a>
      <!-- <p>PEACOCK BOUTIQUE</p> -->
      <style>
        #top{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
        }
        #top img{
          width: 10rem;
        }
      </style>
    </section>
    </header>
    <h1 id="userRegistration">User Registration</h1>
  <div class="registerContainer">
    <form action="/register" method="post">
      <label for="email"></label>
      <input type="email" placeholder="enter your email..." id="email" name="email" required><br>
      <label for="password"></label>
      <input type="password" placeholder="enter your password..." id="password" name="password" required><br>
      <button class="btn btn-info " type="submit" value="Register">Register</button>
    </form>
  </div>
  <footer id="color">
    <%- include('./partials/footer.ejs') %>
  </footer>
  <style>
    form {
      background-color: rgb(240, 240, 240);
      border-radius: 10px;
      padding: 1rem;
    }
  </style>
</body>
<%- include('./partials/javaS.ejs') %>
</html>
